#container-signup {
  min-height: 100vh;
  width: 40%;
}
.headerPage {
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 30px;
  color: #9d2399;
}
.info {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  padding-left: 10px;
  border: none;
  outline: none;
  color: #7e7e7e;
}

.type {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  filter: drop-shadow(0px 0px 2px rgba(204, 93, 232, 0.2));
}
.line {
  border-radius: 20px 20px 20px 20px;
  background-color: #ffffff;
  width: 90%;
  max-width: 90%;
  box-shadow: rgba(204, 93, 232, 0.2) 0px 7px 29px 0px;
}
.btn {
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}
.log {
  color: #a665b6;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #9d239956;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn:hover {
  color: white;
  box-shadow: 0 0 20px #9d239956;
  background-color: #cc5de8;
}
.footnotes {
  font-size: 15px;
  color: #adadad60;
}
.link {
  color: #cc5de8;
  text-decoration: none;
}
.row {
  margin: 20px;
}
.image {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  margin: 20px;
}
.form-group {
  margin: 20px;
}

.form {
  width: 100%;
}
.col-9 {
  display: flex;
  justify-content: center;
}
#click-here {
  color: antiquewhite;
}
