.container {
  min-height: 100vh;
}
#chats-row {
  height: 100%;
  width: 100%;
  margin:0px;
  padding:0px;
}
.icons {
  /* set the font colot to D169EA */
  color: #a822cac8;
  font-size: 21px;
  filter: drop-shadow(0px 0px 2px rgba(204, 93, 232, 0.722));
}
.icons:hover{
  filter: drop-shadow(0px 0px 5px rgb(204, 93, 232));
}
.btn-Chats{
  background-color: #ffffff00;
  border: none;
  padding: auto;
}
#add-contact {
  border-radius: 10px 0px 0px 10px; /* round the corners */
}
.form-control {
  box-sizing: border-box; /* set the box-sizing to border-box */
  border: 2px solid #704478; /* add a border */
}

.profileImage {
  width: 50px; /* set the width */
  height: 50px; /* set the height */  
  border-radius: 100%; /* round the corners */
  margin: 10px;
}


